.archive{
    width: 80%;
    min-height: 80vh;
    margin: auto;
}

h2{
    text-align: center;
}

.listing{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}