.card-container{
    display: flex;
    background: #fff;
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

img{
    width: 100px;
    height: 100px;
}

.about{
    width: 40%;
    height: 100%;
    padding: 30px;
}

.company{
    font-weight: 700;
    color: hsl(180, 19%, 52%);
}
.infos{
    display: flex;
    justify-content: space-between;
    width: 280px;
}

.infos > p {
    color: rgba(0, 0, 0, .3);
    font-weight: 700;
}

.skills{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
