.header {
  width: 100%;
  height: 20vh;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  background: url("../../assets/images/bg-header-desktop.svg");
  background-color: hsl(180, 19%, 52%);
}

.header-link {
  margin: 0 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 25px;
  font-weight: bold;
}
